/*se usarian para cosas repetitivas*/
/*Paleta de colores*/
$color-principal: #282829;
$color-secundario: blue;

/*fuentes*/
$fuente-principal: "Roboto", sans-serif;

/*Tamaños de pantalla*/
$pantalla-m: 768px;
$pantalla-l: 992px;
$pantalla-xl: 1200px;

/*Espaciado*/
$espacio-grande: 50px;
$espacio-chico: 20px;